In [5]:
import pandas as pd
animals=pd.read_csv('/Users/ortal/Desktop/OneDrive - Ariel University/שיעורים/AI/proiect/dataset/aac_shelter_outcomes.csv')
parse_dates=['date_of_birth', 'datetime']
animals

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
78251,1 month,A764894,Dog,Golden Retriever/Labrador Retriever,Brown/White,2017-12-04T00:00:00,2018-02-01T18:26:00,2018-02-01T18:26:00,NaN,Foster,Adoption,Spayed Female
78252,3 years,A764468,Dog,Mastiff Mix,Blue/White,2014-12-30T00:00:00,2018-02-01T18:06:00,2018-02-01T18:06:00,Max,NaN,Adoption,Neutered Male
78253,NaN,A766098,Other,Bat Mix,Brown,2017-02-01T00:00:00,2018-02-01T18:08:00,2018-02-01T18:08:00,NaN,Rabies Risk,Euthanasia,Unknown
78254,2 months,A765858,Dog,Standard Schnauzer,Red,2017-11-13T00:00:00,2018-02-01T18:32:00,2018-02-01T18:32:00,NaN,NaN,Adoption,Spayed Female
78255,2 months,A765857,Dog,Labrador Retriever Mix,White/Brown,2017-11-13T00:00:00,2018-02-01T18:44:00,2018-02-01T18:44:00,NaN,NaN,Adoption,Neutered Male

כמה יצאו לאימוץ?
כמה הועברו למקום אחר?
קורולציה-צבע ואימוץ/גזע ואימוץ/גיל ואימוץ/מין ואימוץ?
כמה בעלי חיים יש מכל סוג?

השאלה הגדולה-מה משפיע על אימוץ של בעל חיים?

In [12]:
##animals['outcome_type'].unique()

array(['Transfer', 'Adoption', 'Euthanasia', 'Return to Owner', 'Died',
       'Disposal', 'Relocate', 'Missing', nan, 'Rto-Adopt'], dtype=object)

# Explanation of the relevant features:\
**Animals type**- there is 4 types:
* dogs
* cats
* livestock-Farm animals like pig, sheep and goat
* other-Wild animals - for example turtle, deer, bat and hyena

**breed**-the brid of the animale\
**color**-the color of the animal\
**date of birth**-The estimated date on which the animal was born\
**date time**-The date the animal left the shelter
**outcome_type**-the reason why the animal left the shelter. there is 9 reasons:
* Transfer-The animal was transferred to a shelter or farm elsewhere
* Adoption
* Euthanasia-The animal was killed for humane reasons
* Return to Owner
* Died
* Disposal-The animal was removed from the shelter
* Relocate
* Missing-The animal went missing from the shelter for unknown reasons and has not been located
* Rto-Adopt-the animal was returned to its owner through the shelter's adoption process.


**sex_upon_outcome**-there is  kind of sex:
* Intact Female
* Intact male
* Neutered Male
* Spayed Female
* unknown

fetures that I erease and the reason:
**animal id**-The feature allows for easier identification of the animal, but is not relevant to the project
**monthyear**- this date is the same as datetime. 
**name**- The name of the animal has no effect on its adoption as it is something that can be changed
**outcome subtype**-The sub-reason why the animal left the shelter. This is irrelevant because they are included under more comprehensive reasons, on which the model will work.
this parameters not make any change on the target.

# todo:
delete the unnessary featurs.
delete raws with null in the outcomtype
plots:
anymals type\color\age
(**pay attantion to do new column with the calculate of the  birth year and the datetime to know how old the animalse is??**)