# Question 1:

In [42]:
def change_decimal(dec): 
   ## the input is str , so we change it to int.
    decimal = int(dec) 
## the functions bin(), oct() amd hex() return a string with the type of the number-----> we dont need that/
##so after the calculat we take only the value:
    # base 2
    ans_bin=str(bin(decimal))
    print(decimal, "is equivalent in Binary to: ",ans_bin[2:] )
     #base 8
    ans_oct=str(oct(decimal))
    print(decimal, "is equivalent in Octal : ",ans_oct[2:]) 
      # base 16
    ans_hex=str(hex(decimal))
    print(decimal, "is equivalent in Hexadecimal : ", ans_hex[2:])

# Question 2:

In [67]:
import pandas as pd
cast=pd.read_csv('/Users/ortal/Desktop/OneDrive - Ariel University/שיעורים/AI/proiect/cast.csv')
cast.head(20)

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27.0
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3.0
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN
5,Townbiz,2010,Too $hort,actor,Himself,NaN
6,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
7,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
8,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
9,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
10,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
11,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
12,Dysfunktion,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
13,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
14,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
15,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
16,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
17,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
18,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
19,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN

## part 1:

(in the data there is multiple raws that referance to the same movie, because there is information about the actors. so we "marge" them by sorting with droping  all the doplicated years.)

In [98]:
Hamlet_movies=cast.loc[cast['title']=='Hamlet']
Hamlet_years=Hamlet_movies.drop_duplicates(subset='year', keep='first')

Hamlet_years.shape

(17, 6)

<b>
There is 17 movies with the name "Hamlet".

## part 2:
<b>Treasure Island moovies sorted by yers: <b>

In [99]:
Treasure_movies=cast.loc[cast['title']=='Treasure Island']
Treasure_movies=Treasure_movies.drop_duplicates(subset='year', keep='first')
Treasure_movies.sort_values('year', ascending=True)

,title,year,name,type,character,n
313097,Treasure Island,1918,Francis Carpenter,actor,Jim Hawkins,1.0
345942,Treasure Island,1920,Lon Chaney,actor,Blind Pew,5.0
8570,Treasure Island,1934,Robert Adair,actor,Tom - Seaman,NaN
12141,Treasure Island,1950,Chris Adcock,actor,Pike,26.0
38151,Treasure Island,1972,Cristino Almod?var,actor,O'Brien,18.0
484325,Treasure Island,1973,Richard Dawson,actor,Long John Silver,1.0
14899,Treasure Island,1985,Yves Afonso,actor,French captain,8.0
104905,Treasure Island,1999,Lance (II) Baker,actor,Frank,1.0

## part 3:

take only the movies from 1921:

In [236]:
Hamlet_movies.loc[cast['year']==1921]

          title  year                    name     type         character    n
6710     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
408456   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
495468   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1015046  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
1948795  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2116906  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2370048  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
2713980  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
2964897  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

there are 9 roles in this movie

## part 4:

once we  divided the year by 10,its ruonded the number(without the modulo) so when we multyply it by 10 again, it gaves the correct decades.

In [237]:
decades=Hamlet_years.groupby((Hamlet_movies['year']//10*10)).size()
decades

year
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    2
dtype: int64

## part 5:

check about the actress and actors separately

In [139]:
#select by n (lead actor)
cast1=cast.loc[cast['n']==1]
# select. again by the years 1950-1959
years1=cast1.loc[cast1['year']>=1950].loc[cast1['year']<1960].loc[cast1['type']=='actor']
print ("actors:")
       
print (years1.groupby('year').size())
print ()

years2=cast1.loc[cast1['year']>=1950].loc[cast1['year']<1960].loc[cast1['type']=='actress']
print ("actress:")
print(years2.groupby('year').size())

actors:
year
1950    604
1951    633
1952    591
1953    634
1954    626
1955    606
1956    614
1957    708
1958    694
1959    678
dtype: int64

actress:
year
1950    271
1951    272
1952    284
1953    290
1954    298
1955    264
1956    288
1957    284
1958    275
1959    287
dtype: int64

## part 6:

create a dataframe by the years above 1950, and cuont how many times any actors and actress play the lead role.

In [160]:
years3=cast1.loc[cast1['year']>=1990]
years3['name'].value_counts().head (10)

Mohanlal              126
Mammootty             118
Akshay Kumar           87
Jayaram                76
Andy Lau               72
Ajay Devgn             69
Amitabh Bachchan       68
Eric Roberts           68
Nagarjuna Akkineni     60
Dilip                  59
Name: name, dtype: int64

## part 7:

<B> list of the years that Frank Oz play more than one role:

In [240]:
# sorting by  the actor (Franck) and by year 
oz=cast[cast.name=='Frank Oz']
oz1=oz.sort_values('year')
# data that organized by the title and the year of the movie
oz2=oz1.groupby(['year', 'title']).size()
# show only from one role and above
oz2[oz2>1]

year  title
1979  The Muppet Movie                            8
1981  An American Werewolf in London              2
      The Great Muppet Caper                      6
1982  The Dark Crystal                            2
1984  The Muppets Take Manhattan                  7
1985  Sesame Street Presents: Follow that Bird    3
1992  The Muppet Christmas Carol                  7
1996  Muppet Treasure Island                      4
1999  Muppets from Space                          4
      The Adventures of Elmo in Grouchland        3
dtype: int64